:root {
  font: 17px/145% var(--font-body);
  color-scheme: light;
  color: var(--color-text);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--color-text);
}

h1 {
  font-size: 28px;
  margin: 8px 0;
}
